.box{
    width: 7rem;
    height: 4rem;
    border: 2px solid black;
}
.box1{
    background-color: red;
    position: absolute;
    left: 100px;

}
.box2{
    background-color: rgb(15, 217, 224);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 1;
}
.box3{
    background-color: rgb(0, 255, 85);
    position: absolute;
    z-index: -2;
}
.box4{
    background-color: blueviolet;
    position: absolute;
    left: 30px;
    top: 35px;
    z-index: 3;
}